.likes {
    padding: 2rem;

    &__header {
        width: max-content;
        font-size: 2.2rem;
        position: relative;

        &::before {
            content: '';
            width: 70%;
            height: .3rem;
            background-color: $color-primary;
            position: absolute;
            bottom: -.2rem;
        }
    }
}