.login {
    margin-top: 4rem;
}

.space-div {
    height: 10rem;
    width: 100%;
}

.login-btn {
    padding: 1.3rem 2.3rem;
}

.err {
    width: 70vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 2rem;
    background-color: #eb4f44;
    position: fixed;
    bottom: 2rem;
    border-radius: .5rem;
    display: none;
    z-index: 5;
}

.err_text {
    color: #fff;
    font-size: 1.4rem;
    display: inline-block;
}

.err i {
    color: #fff;
    font-size: 1.4rem;
    display: inline-block;
    margin-right: 1rem;
}